<div class="container">
    <div class="text-center border mb-5 shadow rounded" style="background-color: white;">
        <br>
        <h1>Secundaria</h1>
        <div class="row shadow-sm border m-3 m-sm-5">
            <div class="col-lg  text-center">
                <h5 class="m-3">
                    Colegio Madre del Divino Pastor | 2015 - 2016
                </h5>
                <p style="text-align: justify; hyphens: auto; padding: 2%;">
                    Colegio ubicado cerca de la alcaldía de managua, destacada por su gran educación y enseñanza,
                    formando personas de calidad por y para el mundo.
                </p>
            </div>
            <div class="col-lg ">
                <div class="imagen-16-9">
                    <a href="https://www.facebook.com/CMDPManagua/?locale=es_LA" target="_blank" rel="noreferrer">
                        <img src="../../assets/divinoPastor.jpg" alt="Divino Pastor" class="shadow-sm border">
                    </a>
                </div>
            </div>
        </div>
        <div class="row shadow-sm border m-3 m-sm-5">
            <div class="col-lg  text-center">
                <h5 class="m-3">
                    Instituto Pedagógico La Salle | 2017 - 2019
                </h5>
                <p style="text-align: justify; hyphens: auto; padding: 2%;">
                    Institución ubicada de los semáforos Villa Fontana 50mts al oeste, preparando a los alumnos para la
                    vida, buscando la forma de descubrir su propia hambre de aprendizaje y sed de conocimiento.
                </p>
            </div>
            <div class="col-lg ">
                <div class="imagen-16-9">
                    <a href="https://www.lasalle.edu.ni/" target="_blank" rel="noreferrer">
                        <img src="../../assets/laSalle.jpg" alt="La Salle" class="shadow-sm border">
                    </a>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="text-center border mb-5 shadow rounded" style="background-color: white;">
        <br>
        <h1>Universitaria</h1>
        <div class="row shadow-sm border m-3 m-sm-5">
            <div class="col-lg  text-center">
                <h5 class="m-3">
                    Universidad Nacional de Ingeniería | 2020 - 2024
                </h5>
                <p style="text-align: justify; hyphens: auto; padding: 2%;">
                    Sede Central ubicada en la Avenida Universitaria. Especializada en ingeniería y arquitectura de
                    Nicaragua, con 3 programas académicos acreditados a nivel internacional, formando a los mejores
                    ingenieros, siendo líderes en ciencia y tecnología.
                </p>
            </div>
            <div class="col-lg ">
                <div class="imagen-16-9">
                    <a href="https://www.uni.edu.ni/#/" target="_blank" rel="noreferrer">
                        <img src="../../assets/uni.jpeg" alt="UNI" class="shadow-sm border">
                    </a>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="text-center border mb-5 shadow rounded" style="background-color: white;">
        <br>
        <h1>Certificación</h1>
        <div class="row shadow-sm border m-3 m-sm-5">
            <div class="col-lg  text-center">
                <h5 class="m-3">
                    Cisco Networking Academy | Certificación Linux Essentials | 2022
                </h5>
                <p style="text-align: justify; hyphens: auto; padding: 2%;">
                    Certificación obtenida en la plataforma de Cisco Networking Academy, en el curso de NDG Linux
                    Essentials, donde se aprende y se pone en práctica comandos de shell en sistemas operativos Linux.
                </p>
            </div>
            <div class="col-lg ">
                <div class="imagen-16-9">
                    <a href="https://drive.google.com/file/d/1RpFnEYQ6T76fYeIRblM5TmjK_j1igAFp/view?usp=sharing"
                        target="_blank" rel="noreferrer">
                        <img src="https://i.postimg.cc/hj1Yvngk/Linux-Essential.png" alt="Linux Essentials"
                            class="shadow-sm border">
                    </a>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>