<div class="card shadow" style="max-width: 350px; min-width: 350px; background-color: white;">
    <div class="card-body">
        <h5 class="card-tittle" style="text-align: justify;">
            {{project.name}}
        </h5>
        <p class="card-text" style="text-align: justify;">
            {{project.summary}}
        </p>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary " (click)="OpenProjectModal()">
                <b>Ver más</b>
            </button>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of project.tags">
                <div class="tag me-2 mb-1 shadow-sm" [style.background-color]="tag.color">
                    <p><b> ◉ {{tag.key}} </b></p>
                </div>
            </div>
        </div>
    </div>
</div>