<div class="container">
    <div class="text-center border mb-5 shadow rounded" style="background-color: white;">
        <br>
        <h1>Contáctame</h1>
        <p>
            Puedo ser contactado por el siguiente correo: <b>{{email}}</b> <br> <br> Sientete libre de contactarme por
            medio de las siguientes plataformas:
        </p>
        <br>
    </div>
    <div *ngIf="isLoading" class="text-center">
        <span class="loaderlight"></span>
    </div>
    <div *ngIf="!isLoading">
        <div class="list-group shadow">
            <div *ngFor="let contact of contacts">
                <a [href]="contact.contactlink" target="_blank" rel="noreferrer"
                    class="list-group-item list-group-item-action d-flex gap-3 py-3">
                    <img [src]="contact.picture" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
                    <h3 class="mb-0">{{contact.name}}</h3>
                </a>
            </div>
        </div>
    </div>
</div>