img {
  border: 2px solid transparent;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: none; /* Quita la sombra */
}

img:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0px 0px 10px rgba(120, 131, 240, 0.99); /* Sombra azul con opacidad */
}

img:active {
  transform: scale(1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: none; /* Quita la sombra */
}
