<div class="container text-center">
    <div class="row">
        <div class="col-lg shadow border m-1 rounded" style="background-color: white;">
            <div class="text-center">
                <br>
                <h2>Lenguajes</h2>
                <br>
                <p>
                    <a href="https://www.java.com/es/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/gilbarbara/logos/29e8719bf78915c7a82a26a6c203f53c4cb8fff2/logos/java.svg"
                            alt="Java" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://kotlinlang.org/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/gilbarbara/logos/29e8719bf78915c7a82a26a6c203f53c4cb8fff2/logos/kotlin-icon.svg"
                            alt="Kotlin" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.cprogramming.com/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg"
                            alt="c" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://es.wikipedia.org/wiki/C%2B%2B" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/loganmarchione/homelab-svg-assets/6b21726b821c961d5c85b9f7afd8950ba700f306/assets/cplusplus.svg"
                            alt="c++" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.w3schools.com/cs/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg"
                            alt="csharp" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://learn.microsoft.com/es-es/dotnet/visual-basic/" target="_blank" rel="noreferrer">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/VB.NET_Logo.svg/512px-VB.NET_Logo.svg.png?20210603083010"
                            alt="Visual Basic" width="50" height="50">
                    </a>
                    &nbsp;
                    <a href="https://www.python.org" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
                            alt="python" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
                            alt="javascript" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.typescriptlang.org/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
                            alt="typescript" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.w3schools.com/css/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
                            alt="css3" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.w3.org/html/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
                            alt="html5" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://aws.amazon.com/es/what-is/xml/#:~:text=El%20lenguaje%20de%20marcado%20extensible%20(XML)%20es%20un%20lenguaje%20de,de%20computaci%C3%B3n%20por%20s%C3%AD%20mismo."
                        target="_blank" rel="noreferrer">
                        <img src="https://www.vectorlogo.zone/logos/w3c_xml/w3c_xml-icon.svg" alt="Vmware Workstation"
                            width="50" height="50" />
                    </a>
                </p>
            </div>
        </div>
        <br>
        <div class="col-lg shadow border m-1 rounded" style="background-color: white;">
            <div class="text-center">
                <br>
                <h2>
                    Frameworks
                </h2>
                <br>
                <p>
                    <a href="https://angular.dev/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/gilbarbara/logos/29e8719bf78915c7a82a26a6c203f53c4cb8fff2/logos/angular-icon.svg"
                            alt="Angular" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://reactjs.org/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
                            alt="react" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://getbootstrap.com" target="_blank" rel="noreferrer">
                        <img src="https://upload.vectorlogo.zone/logos/getbootstrap/images/987f8f6c-263a-47b1-a85d-853cfca215d9.svg"
                            alt="bootstrap" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://dotnet.microsoft.com/en-us/download" target="_blank" rel="noreferrer"> <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/2048px-.NET_Core_Logo.svg.png"
                            alt="NETCore" width="50" height="50" />
                    </a>
                </p>

            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg shadow border m-1 rounded" style="background-color: white;">
            <div class="text-center">
                <br>
                <h2>IDEs</h2>
                <br>
                <p>
                    <a href="https://developer.android.com/studio?hl=es-419" target="_blank" rel="noreferrer">
                        <img src="https://upload.vectorlogo.zone/logos/android_studio/images/bc43bbac-e239-4ae9-829a-9809e57a8bc0.svg"
                            alt="Android Studio" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://es.wikipedia.org/wiki/Turbo_C" target="_blank" rel="noreferrer">
                        <img src="https://vid.geekazine.com/dith/uploads/2013/05/Turbo-C-DITH.png" alt="Turbo C"
                            width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://learn.microsoft.com/es-es/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver16"
                        target="_blank" rel="noreferrer">
                        <img src="https://miro.medium.com/v2/1*-hkzF9m5828c-UIaSQNUug.jpeg"
                            alt="Microsft SQLServer Managment Studio" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://code.visualstudio.com/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/benc-uk/icon-collection/e33ee714d05a24a81cf6ccd967ef34b22cb77e65/azure-patterns/visual-studio-blue.svg"
                            alt="Visual Studio Code" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://visualstudio.microsoft.com/es/vs/community/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/gilbarbara/logos/29e8719bf78915c7a82a26a6c203f53c4cb8fff2/logos/visual-studio.svg"
                            alt="Visual Studio Community" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.spyder-ide.org/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/6910f0503efdd315c8f9b858234310c06e04d9c0/icons/spyder/spyder-original.svg"
                            alt="Spyder" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://colab.research.google.com/" target="_blank" rel="noreferrer">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOUCw6EGyF9_vJg-hOx6_mxB0f2W3yw60_pG_hMF9zvlUrtv4-Vy9ehi3ftuOcG444j0s"
                            alt="Google Colab" width="50" height="50" />
                    </a>
                </p>

            </div>
        </div>
        <br>
        <div class="col-lg shadow border m-1 rounded" style="background-color: white;">
            <div class="text-center">
                <br>
                <h2>
                    Bases de datos
                </h2>
                <br>
                <p>
                    <a href="https://www.sqlite.org/" target="_blank" rel="noreferrer">
                        <img src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg" alt="SQL Lite" width="50"
                            height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.microsoft.com/es-es/sql-server/sql-server-downloads" target="_blank"
                        rel="noreferrer">
                        <img src="https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg"
                            alt="Microsft SQLServer" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://firebase.google.com/" target="_blank" rel="noreferrer">
                        <img src="https://www.vectorlogo.zone/logos/firebase/firebase-icon.svg" alt="firebase"
                            width="50" height="50" />
                    </a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg shadow border m-1 rounded" style="background-color: white;">
            <div class="text-center">
                <br>
                <h2>SO/Distros</h2>
                <br>
                <p>
                    <a href="https://www.microsoft.com/es-es/windows-server" target="_blank" rel="noreferrer">
                        <img src="https://cdn.worldvectorlogo.com/logos/windows-server-2.svg" alt="Windwos Server"
                            width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.linux.org/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/loganmarchione/homelab-svg-assets/6b21726b821c961d5c85b9f7afd8950ba700f306/assets/linux.svg"
                            alt="Linux" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://ubuntu.com/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/edent/SuperTinyIcons/d190e37443ed7a09f39017cbf06d1b6be82d06e1/images/svg/ubuntu.svg"
                            alt="Ubuntu" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.debian.org/index.es.html" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/edent/SuperTinyIcons/d190e37443ed7a09f39017cbf06d1b6be82d06e1/images/svg/debian.svg"
                            alt="Debian" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.kali.org/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/detain/svg-logos/07e36b4aa0691f3015886624395e083395e528c5/svg/k/kali-1.svg"
                            alt="Kali Linux" width="50" height="50" />
                    </a>
                </p>

            </div>
        </div>
        <div class="col-lg shadow border m-1 rounded" style="background-color: white;">
            <div class="text-center">
                <br>
                <h2>
                    Diseño
                </h2>
                <br>
                <p>
                    <a href="https://www.photoshop.com/en" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/gilbarbara/logos/29e8719bf78915c7a82a26a6c203f53c4cb8fff2/logos/adobe-photoshop.svg"
                            alt="Photoshop" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.adobe.com/es/products/illustrator.html" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/pheralb/svgl/5c82f5c8ee850fe1ae505978ae50296c9f5a6f29/static/library/illustrator.svg"
                            alt="Illustrator" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.figma.com/" target="_blank" rel="noreferrer">
                        <img src="https://www.vectorlogo.zone/logos/figma/figma-icon.svg" alt="figma" width="50"
                            height="50" />
                    </a>
                    &nbsp;
                    <a href="https://app.diagrams.net/" target="_blank" rel="noreferrer">
                        <img src="https://upload.vectorlogo.zone/logos/drawio/images/6fe38e50-405d-4a17-aae8-bce2e377bca8.svg"
                            alt="draw.io" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.blender.org/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/gilbarbara/logos/29e8719bf78915c7a82a26a6c203f53c4cb8fff2/logos/blender.svg"
                            alt="Blender" width="50" height="50" />
                    </a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg shadow border m-1 rounded" style="background-color: white;">
            <div class="text-center">
                <br>
                <h2>Office</h2>
                <br>
                <p>
                    <a href="https://www.microsoft.com/es-es/microsoft-365/project/project-management-software"
                        target="_blank" rel="noreferrer">
                        <img src="https://static.wikia.nocookie.net/logopedia/images/9/98/Microsoft_Project_%282019%E2%80%93present%29.svg"
                            alt="Microsft Project" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.microsoft.com/es-es/microsoft-365/word" target="_blank" rel="noreferrer">
                        <img src="https://vectorwiki.com/images/Qwfvh__microsoft-word.svg" alt="Microsft Word"
                            width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.microsoft.com/es-es/microsoft-365/powerpoint" target="_blank" rel="noreferrer">
                        <img src="https://brandeps.com/logo-download/M/Microsoft-Powerpoint-logo-vector-02.svg"
                            alt="Microsft Powerpoint" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.microsoft.com/es-es/microsoft-365/excel" target="_blank" rel="noreferrer">
                        <img src="https://w7.pngwing.com/pngs/394/915/png-transparent-excel-hd-logo-thumbnail.png"
                            alt="Microsft Excel" width="50" height="50" />
                    </a>
                </p>

            </div>
        </div>
        <br>
        <div class="col-lg shadow border m-1 rounded" style="background-color: white;">
            <div class="text-center">
                <br>
                <h2>
                    Otros
                </h2>
                <br>
                <p>
                    <a href="https://jwt.io/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/bestofjs/bestofjs/685cbfef889820a837726b95d5ce095deca09929/apps/bestofjs-nextjs/public/logos/jwt.svg"
                            alt="JWT" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://redux-toolkit.js.org/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/gilbarbara/logos/29e8719bf78915c7a82a26a6c203f53c4cb8fff2/logos/redux.svg"
                            alt="Redux" width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.virtualbox.org/" target="_blank" rel="noreferrer">
                        <img src="https://www.vectorlogo.zone/logos/virtualbox/virtualbox-icon.svg" alt="Virtual Box"
                            width="50" height="50" />
                    </a>
                    &nbsp;
                    <a href="https://www.vmware.com/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/walkxcode/dashboard-icons/be82e22c418f5980ee2a13064d50f1483df39c8c/svg/vmware-workstation.svg"
                            alt="Vmware Workstation" width="50" height="50" />
                    </a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>