/* You can add global styles to this file, and also import other style files.*/

.container{
    max-width: 1140px;
}

.tag{
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}

/*Animation.*/

/*Right Animation for the body.*/

@keyframes enterR {
	from {
		opacity: 0;
		transform: translateX(100%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes exitR {
	from {
		opacity: 1;
		transform: translateX(0);
	}

    to {
		opacity: 0;
		transform: translateX(-100%);
	}
}

::view-transition-old(slide-right){
    animation-duration: 1s;
	animation-name: exitR;
}

::view-transition-new(slide-right){
    animation-duration: 1s;
	animation-name: enterR;
}

/*Left Animation for the body.*/

@keyframes enterL {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes exitL {
	from {
		opacity: 1;
		transform: translateX(0);
	}

    to {
		opacity: 0;
		transform: translateX(100%);
	}
}

::view-transition-old(slide-left){
    animation-duration: 1s;
	animation-name: exitL;
}

::view-transition-new(slide-left){
    animation-duration: 1s;
	animation-name: enterL;
}


/*Animation for the head.*/


@keyframes enterP {
	from {
		opacity: 0;

	}

	to {
		opacity: 1;

	}
}

@keyframes exitP {
	from {
		opacity: 1;

	}

    to {
		opacity: 0;

	}
}


::view-transition-old(root){
    animation-duration: 0.01s;
	animation-name: exitP;
}

::view-transition-new(root){
    animation-duration: 0.01s;
	animation-name: enterP;
}