<div class="container text-center">

    <br>

    <button (click)="DownloadFile()" class="btn btn-outline-dark mb-5 shadow border"> 
        Descargar Currículum 
    </button>

    <div class="row" >
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <br>
                <h2>Acerca de mí</h2>
                <img src="../../assets/default.jpg" alt="imagen de perfil" width="256" height="256" class="rounded-circle">
                
                <p style="text-align: justify; hyphens: auto; padding: 2%;">
                    <br>
                    Ingeniero en computación Jr, con una gran pasión por el aprendizaje y desarrollo de nuevas tecnologías, con sed de autosuperación tanto a nivel profesional como personal. 
                </p>
            </div>

        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <br>
                <h2>
                    Proyecto destacado
                </h2>
                <br>
                <h4> {{featuredProject.name}} </h4>
                <br>
            </div>

            <carousel>
                <div *ngFor="let picture of featuredProject.pictures">
                    <slide><img src="{{picture}}" alt="slide" style="display: block; width:100%"></slide>
                </div>
            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p> Visita la sección de portafolio para saber más.</p>
        </div>
    </div>
    <br>
    <br>
</div>